


<div class=" mt-2 col-sm  list-group list-group-flush">
  <h2>Coloque um produto</h2>
  <form [formGroup]="pForm" >
    
        <tr class="list-group-item ">
          <span class="lead" >Insira o Nome : </span>
          <input placeholder="Nome" class="myinput form-control p-3 mt-2" type="text" formControlName="nome" id="">
        </tr>
        <tr class="list-group-item ">
            <span class="lead">Insira a Quantidade : </span>
          <input placeholder="Numero de Produtos" class="myinput form-control p-3 mt-2" type="number" formControlName="quantidade" id="">
        </tr>
      
        <tr class="list-group-item ">
          <span class="lead">Insira o valor :</span>
        <input  placeholder="Valor do Produto" class="myinput form-control p-3 mt-2" type="number" formControlName="valor" id="">
      </tr>
      <tr class="list-group-item " >
        <span class="lead" >Selecione o nome tipo :</span>
      <select class="browser-default custom-select mt-2" (change)="selectOption($event.target.value)" formControlName="id_tipo" >
        <option>Escolha um tipo de produto</option>
        <option *ngFor="let tipo of nome_tipos;" [ngValue]="tipo.id_tipo" >{{tipo.nome}}</option>
      </select>
      </tr>

      <tr class="list-group-item ">
      <span class="lead" >Escolha a categoria do tipo :</span>
      <select class="browser-default custom-select mt-2" (change)="selectOptionCategoria($event.target.value)" formControlName="id_tipo_categoria" >
        <option>Escolha a categoria do tipo</option>
        <option *ngFor="let categoria of nome_categoria;" [ngValue]="categoria.id" >{{categoria.nome_categoria}}</option>
      </select>
    </tr>
    <tr class="list-group-item ">
      <div class="col pr-1">
        <span class="lead" for="especificacoes">Insira as especificacoes do Produto aqui</span>
        <textarea type="text" style="height: 100px; text-align: left;" placeholder="Especificacoe Técnicas" class="myinput form-control p-3 mt-2"  formControlName="especificacao"></textarea>
      </div>
    </tr>
      <h3>Escolha uma imagem a ser inserida</h3>
        <form [formGroup]="fileUploadForm" (ngSubmit)="onFormSubmit()" (ngSubmit)="createProducts()">
          <div class="custom-file form-group">
            <input  style="width: 10000px" type="file" class="custom-file-input mt-2" id="arquivo" name="uploadedImage"(change)="onFileSelect($event)" #UploadFileInput>
            <label class="custom-file-label" for="arquivo">{{fileInputLabel || 'Escolha um arquivo'}}</label>
            <button class="btn btn-outline-dark lead " type="submit">Criar Produto</button>
          </div>
        </form>
  </form>
</div>
  
