
<header>

    <nav class="navbar fixed-top navbar-expand-lg navbar-dark pink scrolling-navbar">
      <a class="navbar-brand" href="#" routerLink="produtos-inicial" routerLinkActive="active"><strong>Explosao Menu</strong></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink="produtos-add" routerLinkActive="active">Adicione Produtos <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="produtos-home" routerLinkActive="active">Veja Produtos</a>
          </li>
          
        </ul>
      </div>
    </nav>
  
  </header>
